<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!--<style src="../public/Stylesheets/main.css"></style> !--->
    <link rel="stylesheet" href="./Stylesheets/main.css"> <!--NOVA MANEIRA DE NOMENCLATURA-->
</head>
<body>


    <div class="EFullPage">

        <div class="ESideBarColor Sidebar">

            <div class="EProfileHolder"> <!--Div que segura o perfil-->

                <div class="EFlexRow EFlexCenter">

                    <a class="EProfileSettings EFlexCenter" href="/hackathon_sintechtica_2025/views/profileEdit.html">
                    
                        <div class="EImageHolder">
                            <img src="./Pictures/Unico.png" class="EImage">
                        </div>

                    <div class="EFlexCol">
                        <h5 style="font-weight: bolder;" class="EInterFont ETextColor">Unico Uni</h5>
                        <br>
                        <p class="EInterFont ETextColor">Análise de Desenvolvimento de Sistemas</p>
                    </div>

                    </a>

                </div>

            </div>

            <hr>

            <div class="EAchievementsHolder"> <!---Div que segura as conquistas-->

                <div class="">
                    <h5 class="EInterFont ETextColor">Conquistas:</h5>
                </div>
                <br>

                <div class="EAcheivmentsImages">
                    <img src="./Pictures/lock-icon-free-vector.jpg" class="EImage2">
                    <img src="./Pictures/lock-icon-free-vector.jpg" class="EImage2">
                    <img src="./Pictures/lock-icon-free-vector.jpg" class="EImage2">
                </div>

            </div>

            <hr>

            <div class="EPreviousChats"> <!--Div que segura chats anteriores-->

                <div class="">
                    <h5 class="EInterFont ETextColor">Conversas Anteriores:</h5>
                </div>

                <div class="">

                </div>
            </div>

            <hr>

            <div class="Help"> 

                <div class="EHelpContainer .EInlineFlexCol">
                    <div class="item2">
                        <a class="EInlineFlexRow ETextDecNone">
                            <img class="EGitHubImg" src="./Pictures/Github.png">
                            <p class="EInterFont ETextColor">GitHub</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
  

        <div class="EContentColor EFlexCenter ">

            <img src="./Pictures/akademos.svg" class="EAkademosIconPic"> 
            <br>
            <form action="/main" method="post">
                <input type="text" name="UserInput" autocomplete="off">
                <input type="submit" value="Send">
            </form>
        </div>

    <div>

</body>
</html>
