<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/hackathon_sintechtica_2025/static/Stylesheets/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>


    <div class="EFullPage">

        <div class="ESideBar Sidebar">

            <div class="EProfileHolder"> <!--Div que segura o perfil-->

                <div class="EFlexRow EFlexCenter">

                    <a class="EProfileSettings EFlexCenter" href="/hackathon_sintechtica_2025/profileEdit.html">
                    
                        <div class="EImageHolder">
                            <img src="/hackathon_sintechtica_2025/static/Pictures/Unico.png" class="EImage">
                        </div>

                    <div class="EFlexCol">
                        <h5 style="font-weight: bolder;" class="EInterFont EBrownText">Unico Uni</h5>
                        <br>
                        <p class="EInterFont EBrownText">Análise de Desenvolvimento de Sistemas</p>
                    </div>

                    </a>

                </div>

            </div>

            <hr>

            <div class="EAchievementsHolder"> <!---Div que segura as conquistas-->

                <div class="">
                    <h5 class="EInterFont EBrownText">Conquistas:</h5>
                </div>
                <br>

                <div class="EAcheivmentsImages">
                    <img src="/hackathon_sintechtica_2025/static/Pictures/lock-icon-free-vector.jpg" class="EImage2">
                    <img src="/hackathon_sintechtica_2025/static/Pictures/lock-icon-free-vector.jpg" class="EImage2">
                    <img src="/hackathon_sintechtica_2025/static/Pictures/lock-icon-free-vector.jpg" class="EImage2">
                </div>

            </div>

            <hr>

            <div class="EPreviousChats"> <!--Div que segura chats anteriores-->

                <div class="">
                    <h5 class="EInterFont EBrownText">Conversas Anteriores:</h5>
                </div>

                <div class="">

                </div>
            </div>

            <hr>

            <div class="Help"> <!--Pedir ajuda-->

                <div class="EHelpContainer .EInlineFlexCol">

                    <div class="item1 EInlineFlexRow">
                        <img class="EHelpImg">
                        <p class="EInterFont EBrownText">Central de Ajuda</p>
                    </div>

                    <div class="item2">
                        <a class="EInlineFlexRow ETextDecNone">
                            <img class="EGitHubImg" src="/hackathon_sintechtica_2025/static/Pictures/Github.png">
                            <p class="EInterFont EBrownText">GitHub</p>
                        </a>
                    </div>
                </div>

        </div>

        </div>
  

        <div class="EContent">

            <h1>Hello</h1>


        </div>


    <div>

</body>
</html>
