.EFullPage{
    display: grid;
    grid-template-columns: 3fr 10fr;
    height: 800px;
    
}


.ESideBarColor{
    background-color: #e0dfdc;
}

.EContentColor{
    background-color: #eeece8;
}

.ETextColor{
    color: #6a4e3e;
}



.EFlexRow{
    display: flex;
    flex-direction: row;
}

.EFlexCol{
    display: flex;
    flex-direction: column;
}



.ETextDir{
    text-align: left;

}

.EFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.EProfileSettings{
    text-decoration: none;
    display: inline-flex;
}

.EImage{
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #000000;
}


.EInterFont{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Acheivments */

.EAchievementsHolder{
    display: block;
}

.EAcheivmentsImages{
    display: inline-flex;
}

.EImage2{
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #000000;   
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}




/* Central de Ajuda */

.EHelpImg{
    height: 35px;
    width: 35px;
}

.EGitHubImg{
    height: 30px;
    width: 30px;
}

.EInlineFlexCol{
    display: inline-flex;
    flex-direction: column;
}

.EInlineFlexRow{
   display: inline-flex;
    flex-direction: row;
}

.ETextDecNone{
    text-decoration: none;
}



/* Content */

.EAkademosIconPic{
    height: 200px;
    border-radius: 50%;
}